.position-img {
    text-align: center;
    padding: 20px;
    img {
        height: 120px;
        width: 120px;
    }
}
.position-content {
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}